.section-intro {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;


  .container {
    width: 100%;
  }

  .i-message-demo-wrap {
    width: 100%;
    max-width: 300px;
    margin: auto;

    .rect-outer {
      padding: 170% 0 0;
    }

    .i-message-demo {
      background: grey;
    }

    .i-message-list {
      width: 100%;
      height: calc(100% - 50px);
    }
  }
}