
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-tap-to-talk:before { content: '\e802'; } /* '' */
.icon-take-photo:before { content: '\e803'; } /* '' */
.icon-message-deco-right:before { content: '\e804'; } /* '' */
.icon-image-edit:before { content: '\e805'; } /* '' */
.icon-sent-message:before { content: '\e806'; } /* '' */
.icon-message-deco-left:before { content: '\e807'; } /* '' */