.phone-wrap {
  max-width: 400px;
  background: #ffcd02;
  margin: auto;
  position: relative;

  .rect-outer {
    padding: 200% 0 0;
  }
}

.i-message-area {
  position: absolute;
  width: 80%;
  height: 68%;
  background: red;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.i-message {
  $main-blue: #007AFF;
  $main-grey: #858E98;

  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left top;
  left: 50%;
  top: 50%;

  font-size: 14px;
  background: white;

  i {
    color: $main-grey;
  }

  .outgoing-message-spacer {
    width: 76%;
    align-self: flex-end;
    margin: 10px 0 0;
    text-align: right;
  }
  .outgoing-message {
    margin: 0 0 0 auto;
    background: $main-blue;
    border-radius: 15px;
    padding: 8px 10px;
    color: white;
    display: inline-block;

    &:before {
      font-family: "fontello";
      content: '\E804';
      position: absolute;
      right: -5px;
      bottom: -3px;
      font-size: 30px;
      color: $main-blue;
      z-index: -1;
    }
  }

  .incoming-message-spacer {
    width: 76%;
    height: 0;;
    margin: 10px 0 0;

    .incoming-message {
      opacity: 0;
      background: #E5E5EA;
      border-radius: 15px;
      padding: 8px 10px;
      color: #231F20;
      position: relative;
      display: inline-block;

      &:before {
        font-family: "fontello";
        content: '\e807';
        position: absolute;
        left: -4px;
        bottom: 0px;
        font-size: 9px;
        color: #E5E5EA;
      }
    }
  }

  .input-row {
    display: flex;
    justify-content: space-between;
    padding: 9px 5px;
  }

  .status-wrap {
    height: 0;
    opacity: 0;
    text-align: right;
    font-size: 9.9px;
    padding: 3px 0 0px;
    color: #8E8E93;
  }

  .btn-send {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 23px;
    width: 19px;
    height: 19px;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .5s;
    }

    &:not(.active) {
      .icon-sent-message {
        display: none;
      }
    }

    &.active {

      .icon-sent-message {
        color: $main-blue;
      }

      .icon-tap-to-talk {
        display: none;
      }

    }
  }
  .extra-buttons-group {
    white-space: nowrap;
    position: relative;
    bottom: 3px;
  }
  .extra-button {
    display: inline-block;
    font-size: 26px;
    margin: 0 1.6px;

    &:nth-child(3) {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .input-wrap {
    border: 1px solid #C8C8CD;
    border-radius: 14px;
    position: absolute;
    right: 10px;
    bottom: 14px;
    width: 64%;
    padding: 6px 30px 8px 10px;
    background: #FAFAFA;
    color: #C7C7CC;

    .input-i-message {
      &.active {
        color: #231F20;

      }
    }
  }

  .i-message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px;
    width: 100%;
    height: calc(100% - 50px);
  }
}