@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

@import "_reset.scss";
@import "mixins.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}


.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: auto;

}

section {
  padding: 0 20px;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

.input-i-message {
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90%;
}

.i-message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.i-message-list-item {
  background: #0bc7ff;
  border-radius: 5px;

}


@import "partials/section-intro";
