@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');
@import "_reset.scss";
@import "mixins.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: grey;
}

.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: auto;

}

section {
  padding: 0 20px;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

.section-spacer-1 {
  min-height: 100vh;
  background: #279fff;
}

.section-spacer-2 {
  height: 300px;
  background: #2b8061;
}

.section-spacer-3 {
  height: 600px;
  background: #eeb062;
}

.i-message-demo {
  margin: auto;
}


@import "partials/section-intro";
