@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

@import "_reset.scss";
@import "mixins.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}


.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: auto;

}

section {
  padding: 0 20px;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}



.i-message-demo-wrap {
  width: 100%;
  max-width: 300px;
  margin: auto;

  .rect-outer {
    padding: 170% 0 0;
  }

}

.btn {
  background: grey;
  color: white;
  display: inline-block;
  padding: 8px;
}

.i-message-demo {
  font-size: 14px;
  background: grey;


  .outgoing-message-spacer {
    width: 69%;
    align-self: flex-end;
    margin: 10px 0 0;
  }
  .outgoing-message {
    margin: 0 0 0 auto;
    background: #0bc7ff;
    border-radius: 5px;
    padding: 5px;
  }

  .input-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .status-wrap {
    height: 0;
    opacity: 0;
    text-align: right;
  }

  .btn-send {
    position: absolute;
    right: 5px;
    top: 5px;
    transition: .5s;

    &.active {
      background: blue;

    }
  }
  .extra-buttons-group {
    white-space: nowrap;
  }
  .extra-button {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;

    &:nth-child(3) {
      opacity: 0;
    }
  }
}

.input-wrap {
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 60%;
  padding: 5px 35px 5px 5px;
}

.i-message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 10px;
  width: 100%;
  height: calc(100% - 50px);
}


@import "partials/section-intro";
